<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <style>{{styles}}</style>
  </head>

  <body>

    <!-- Cover Page -->
    <article id="cover">
      <div class="cover-image" style="background-image: url('{{cover_image}}')"></div>
      <div class="cover-bottom">
        <h1>{{title}}</h1>
        {{logo_img_cover}}
      </div>
    </article>

    <!-- Document Content (from Markdown) -->
    {{content}}

    <!-- Copyright / Imprint -->
    <article id="copyright">
      {{logo_img}}
      <h3>{{title}}</h3>
      <p>
        &copy; {{year}} {{author_short}}. Alle Rechte vorbehalten.
      </p>
    </article>

  </body>
</html>
